/* Juan Fernández López - UO296143 */
/* Estilos generales del proyecto MotoGP-Desktop */
/* Paleta de colores:
   - Color 1(Background): #F2F1E8 Ivory (Beige claro y cálido)
   - Color 2(Foreground): #1C1C1C Negro (Para el texto)
   - Color 3(Background del nav): ##E0DED4 (Beige más oscuro que el fondo)

/* Especificidad 0-0-1 */
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #F2F1E8; /* Color 1.1 */
}

/* Especificidad 0-0-1 */
/* Color de fondo heredado de body: #F2F1E8 */
h1{
    color: #1C1C1C;
}

/* Especificidad 0-0-1 */
nav{
    background-color: #E0DED4; /* gris beige más oscuro que el fondo */
    color: #1C1C1C;
}

/* Estilos para el enlace activo (html actual) en el menú de navegación */
.active{
    color:rgba(146, 159, 75, 0.857);
}

/* Estilo para el html actual en las migas de pan. */
p:first-of-type {
  font-size:0.85em;
}

a {
    color: #1C1C1C;
}

a:hover{
    text-decoration-line: none;
    color:red;
}
