/* Juan Fernández López - UO296143 */
/* Estilos generales del proyecto MotoGP-Desktop */
/* Paleta de colores:
   - Color 1 (Background) : #F2F1E8 Ivory (Beige claro y cálido)
   - Color 2 (Foreground) : #1C1C1C Negro (Para el texto)
   - Color 3 (Background del nav) : #1420FB (Azul)

/* Especificidad 0-0-1 */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Especificidad 0-0-3 */
/* SE ESTÁ ESTABLECIENDO UN COLOR DE PRIMER PLANO PERO UNO DE FONDO, ESTE SE HEREDA DEL COLOR POR DEFECTO */
header h1 a{
    color:#FFFFFF;
}

/* Especificidad 0-0-1 */
header{
    background-color: #000000; /* gris beige más oscuro que el fondo */
    color: #FFFFFF;
}

/* Especificidad 0-0-2 */
/* SE ESTÁ ESTABLECIENDO UN COLOR DE PRIMER PLANO PERO UNO DE FONDO, ESTE SE HEREDA DEL COLOR POR DEFECTO */
nav > a{
    font-size: 1.2rem;
    color:#FFFFFF;
}

/* Especificidad 0-0-3 */
header > h1 > a{
    font-size: 3rem;
}

/* Especificidad 0-1-0 */
/* SE ESTÁ DEFINIENDO UN COLOR DE PRIMER PLANO
/* EL COLOR DE FONDO SE ESTÁ HEREDANDO DE BODY */
/* Estilos para el enlace activo (html actual) en el menú de navegación */
.active{
    color:#e9c00a;
}

/* Especificidad 0-1-1 */
/* Estilo para el parrafo de las breadcumbs. */
p:first-of-type{
  font-size:0.85em;
}

/* Para todos los links que no sean del header */
/* SE ESTÁ ESTABLECIENDO UN COLOR DE PRIMER PLANO PERO UNO DE FONDO, ESTE SE HEREDA DEL COLOR POR DEFECTO */
/* Especificidad 0-1-1 */
a:hover{
    color:#482CF3
}

/* Especificidad 0-1-2 */
/* Especificidad 0-1-3 */
/* SE ESTÁ DEFINIENDO UN COLOR DE PRIMER PLANO
/* EL COLOR DE FONDO SE ESTÁ HEREDANDO DE BODY */
header a:hover,
header nav a:hover{
    color:#FF60FF;
}

/* Especificidad 0-0-1 */
td {
    text-align: center;
}
